#pileContainer {
    text-align:center;
    width:655px;
    height: 135px;
    background: url(/images/holder.png);
    background-size: 100% 100%;
}

#cardContainer {
    margin: auto;
    text-align:center;
    width: 1400px;
    height: 80pt;
    background-size: 100% 100%;
}

#cardPile {
    margin: auto;
    width: 700px;
}

#cardSlots {
    margin: auto;
    width: 2048px;
}

#cardSlots .dropLoc {
    float: left;
    margin-left: auto;
    margin:1.2px;
    padding-top: 10px;
    width:84px;
    height:84px;
}

#cardPile .dragobj {
    background-size: 100% 100%;
    float: left;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 2.21px;
    margin-right: 1.0px;
    padding-top: 11px;
    padding-right: .5px;
    padding-bottom: 1px;
    width:87px;
    height:87px;
}

#cardSlots div.hovered {
  background: grey;
}

#cardSlots div {
  opacity: 0;
  border-style:dashed;
  border-radius: 360px;
}
